@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  /* background-color: rgb(255, 255, 255); */
  background-image: url(https://img.freepik.com/vector-gratis/dibujado-mano-estilo-acuarela-bibimbap_53876-43858.jpg?t=st=1728722814~exp=1728726414~hmac=a1c30c1cab3a976be388a982e650dbcda5b3b4965e60a7fde6e3cc388fe13c8d&w=740);
  background-repeat: repeat-x;
}

/* Amarilllo color del bm rgb(254,237,36) */


/* a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
} */

/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} */

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */